<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/login.css">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo" >REGISTRO</h1>
    <div class="register_container">
        <div class="left-form"> 
            <form class="form1" action="">
                <label for="">Correo</label>
                <input type="text"> 
                <label for="">Contraseña</label>
                <input type="password"><br>
                <button>INICIAR</button>
            </form>
        </div>
        <div class="right-form"> 
            <form class="form1" action="">
                <label for="">Correo</label>
                <input type="email">
                <label for="">Nombre</label>
                <input type="text">
                <label for="">Apellido</label>
                <input type="text">
                <label for="email">Telefono</label>
                <input type="tel">
                <label for="email">Contraseña</label>
                <input type="password"><br>
                <button>ENVIAR</button>
            </form>
        </div>
        
    </div>
</body>
</html>